main#about {
    height: 100%;
    width: 100%;
    section.about_page {
        height: 100%;
        width: 100%;
        padding-bottom: 50px;
        .band_picture {
            width: 100%;
            height: 150px;
            background-image: url(../img/photographe_backandwhite.jpg);
        }
        .geometry {
            width: 150px;
            height: 150px;
            position: absolute;
            top: 45px;
            left: 50%;
        }
        .big-square {
            width: 120px;
            height: 120px;
            border: 1px solid black;
        }
        .medium-square {
            width: 40px;
            height: 40px;
            background-color: black;
            position: relative;
            left: 65px;
            bottom: 30px;
        }
        .little-square {
            width: 8px;
            height: 8px;
            background-color: #cc3554;
            position: relative;
            left: 120px;
            bottom: 30px;
        }
        h1 {
            color: #fefefe;
            width: 250px;
            text-align: right;
            text-transform: uppercase;
            font-family: $font-montserrat;
            font-size: 25px;
            line-height: 25px;
            position: relative;
            float: left;
            top: 20px;
            left: -180px;
        }
        .container {
            .content {
                text-align: center;
                padding: 0 20px;
                .column-1 {
                    height: auto;
                    width: 100%;
                    padding: 40px 0;
                    transition: all 0.5s ease;
                    h2 {
                        text-align: left;
                        font-size: 20px;
                        font-family: $font-montserrat;
                        font-weight: bold;
                        text-transform: uppercase;
                        transition: all 0.5s ease;
                        padding-bottom: 5px;
                    }
                    hr {
                        position: absolute;
                        left: 20px;
                        width: 80px;
                        border: 2px solid #cc3554;
                    }
                    p {
                        margin-top: 40px;
                        text-align: justify;
                        font-family: $font-poiretone;
                        font-weight: bold;
                        font-style: italic;
                        letter-spacing: 2px;
                        font-size: 13px;
                        line-height: 20px;
                    }
                }
                .column-2 {
                    width: 100%;
                    height: auto;
                    padding: 10px 0;
                    text-align: justify;
                    font-family: $font-poiretone;
                    font-size: 16px;
                    transition: all 0.5s ease;
                    p {
                        line-height: 20px;
                        margin-bottom: 20px;
                    }
                }
                a {
                    text-decoration: none;
                    text-align: center;
                    text-transform: uppercase;
                    color: #fefefe;
                    font-family: $font-poiretone;
                    font-weight: bold;
                    font-size: 18px;
                    letter-spacing: 2px;
                }
                a:nth-of-type(1) .cv {
                    background-color: #851e31;
                    height: 50px;
                    margin-bottom: 10px;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    transition: all 0.75s ease;
                }
                a:nth-of-type(1):hover .cv {
                    background-color: white;
                    color : #851e31;
                }
                a:nth-of-type(2) .cv {
                    background-color: #cc3554;
                    height: 50px;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 80px;
                    transition: all 0.75s ease;
                }
                a:nth-of-type(2):hover .cv {
                    background-color: white;
                    color : #cc3554;
                }
            }
        }
    }
}

@media screen and (min-width:600px) {
    main#about {
        section.about_page {
                .container {
                    .content {
                        a:nth-of-type(1) .cv {
                            float: left;
                            width: 46%;
                            margin-right: 20px;
                            margin-bottom: 80px;
                        }
                        a:nth-of-type(2) .cv {
                            float: left;
                            width: 46%;
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
    }


@media screen and (min-width:768px) {
    main#about {
        section.about_page {
            margin-bottom: 100px;
            .container {
                padding-right: 100px;
                .content {
                    .column-1 {
                        padding: 0;
                        padding: 100px 20px;
                        padding-bottom: 0;
                        float: left;
                        width: 30%;
                        h2 {
                            font-size: 25px;
                        }
                        p {
                            font-size: 13px;
                        }
                        hr{
                            left: 40px;
                        }
                    }
                    .column-2 {
                        padding: 0;
                        padding-top: 100px;
                        padding-left: 20px;
                        float: left;
                        width: 70%;
                    }
                    a:nth-of-type(1) .cv {
                        margin: 0;
                        float: left;
                        width: 50%;
                    }
                    a:nth-of-type(2) .cv {
                        margin: 0;
                        float: left;
                        width: 50%;
                    }
                }
            }
            .band_picture {
                height: 250px;
            }
            .geometry {
                width: 350px;
                height: 250px;
                top: 75px;
                left: 30%;
            }
            .big-square {
                width: 200px;
                height: 200px;
            }
            .medium-square {
                width: 80px;
                height: 80px;
                left: 100px;
                bottom: 70px;
            }
            .little-square {
                width: 10px;
                height: 10px;
                left: 215px;
                bottom: 70px;
            }
            h1 {
                width: 350px;
                font-size: 35px;
                line-height: 45px;
                top: 20px;
                left: -250px;
            }
        }
    }
}

@media screen and (min-width:992px) {
    main#about {
        section.about_page {
            margin-bottom: 50px;
            .container {
                .content {
                    .column-1 {
                        width: 40%;
                        h2 {
                            font-size: 30px;
                        }
                        p {
                            font-size: 13px;
                        }
                    }
                    .column-2 {
                        width: 60%;
                        padding-right: 50px;
                        padding-left: 50px;
                    }
                }
            }
            }
        }
    }

    @media screen and (max-width:1100px) {
        main#about {
            section.about_page {
                    .band_picture {
                        background-position: center;
                    }
                }
            }
        }
