main#contact {
    height: 100%;
    width: 100%;
    section.contact_page {
        width: 100%;
        height: 100%;
        .column-2 {
            width: 100%;
            display: flex;
            align-items: center;
            transition: all 0.75s ease;
            padding-bottom: 80px;
        }
        .contact-form {
            h1 {
                margin-top: 30px;
                text-align: center;
                text-transform: uppercase;
                font-family: $font-montserrat;
                font-weight: bold;
                font-size: 25px;
                margin-bottom: 20px;
                color: #1d314a;
                transition: all 0.75s ease;
            }
        }
        form {
            padding: 0 30px;
            width: 100%;
            input, textarea {
                width: 100%;
                height:40px;
                margin: 10px 0;
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            }
            input[type="submit"] {
                margin-top: 30px;
                border: 1px solid #1d314a;
                background-color: #fefefe;
                color: black;
                text-transform: uppercase;
                font-family: $font-montserrat;
                font-weight: bold;
                letter-spacing: 3px;
                width: 100%;
                transition: all 0.75s ease;
            }
            input[type="submit"]:hover {
                border: 1px solid #1d314a;
                background-color: #1d314a;
                color: white;
            }
            textarea {
                height: 150px;
            }
        }
    }
}

@media screen and (min-width:768px) {
    main#contact {
        section.contact_page {
            .column-1 {
                float: left;
                width: 40%;
                height: 100%;
                background-image: url(../img/toureiffel.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                transition: all 0.75s ease;
            }
            .column-2 {
                float: left;
                width: 60%;
                height: 100%;
                display: flex;
                align-items: center;
                transition: all 0.75s ease;
                padding-bottom: 0;
            }
            .contact-form {
                h1 {
                    font-size: 30px;
                    margin-bottom: 20px;
                    text-align: left;
                }
            }
            form {
                padding: 0;
                padding-left: 30px;
                input, textarea {
                    width: 75%;
                    height: 50px;
                }
                input[type="submit"] {
                    width: 30%;
                    margin-left: 30px;
                }
            }
        }
    }
}

@media screen and (min-width:992px) {
    main#contact {
        section.contact_page {
            .column-1 {
                width: 45%;
            }
            .column-2 {
                width: 55%;
            }
            .contact-form {
                h1 {
                    font-size: 40px;
                }
            }
        }
    }
}
