footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #14121f;
    color: #fefefe;
    font-family: $font-montserrat;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding: 10px;
    display: none;
}
@media screen and (min-width:768px) {
    footer {
        display: block;
    }
}
