main#home {
    height: 100%;
    width: 100%;
    section.landing {
        width: 100%;
        height: 100%;
        background-image: url(../img/mobile-first.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        .particles, hr, p {
            display: none;
        }
        .triangles {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);}
            text-align: center;
        .triangles img {
            width: 150px;
        }
        .triangles img:first-child {
            opacity: 0.5;
            position: relative;
            top: 60px;
        }
        .triangles img:last-child {
            transform: rotate(180deg);
            position: relative;
            top: -60px;
        }
        .title {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            h1.name {
                color: black;
                text-align: center;
                font-family: $font-montserrat;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 40px;
            }
            h2.role {
                text-align: center;
                font-family: $font-poiretone;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 28px;
            }
        }
    }
    section.about {
        width: 100%;
        height: 100%;
        text-align: center;
        img {
            margin-top: 20px;
            width: 90%;
        }
        .text {
            h3 {
                color: #cc3554;
                font-family: $font-montserrat;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 25px;
                margin-bottom: 30px;
                margin-top: 20px;
                background-color: #fefefe;
                line-height: 25px;
            }
            p {
                font-family: $font-poiretone;
                line-height: 20px;
                margin: 0;
                text-align: justify;
                padding: 0 30px;
                margin-bottom: 40px;
            }
            a {
                font-size: 13px;
                text-transform: uppercase;
                letter-spacing: 3px;
                font-weight: bold;
                border: 2px solid black;
                padding: 15px 40px;
                color: black;
                text-decoration: none;
                transition: all 0.5s ease;
            }
            a:hover {
                border-color: #cc3554;
                background-color: #cc3554;
                color: #fefefe;
            }
        }
    }
    section.projects {
        width: 100%;
        height: 100%;
        .container {
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (min-width:768px) {
    main#home {
        section.landing {
            .triangles {
                display: none;
            }
                h1.name {
                    font-size: 65px;
                }
                h2.role {
                    font-size: 43px;
                }
        }
    }

}
@media screen and (min-width:992px) {
    main#home {
        section.landing {
            background-image: url(../img/trytrait.jpg);
            .container {
                width: 100%;
                height: 100%;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            background-position: center;
            background-size: cover;
            .particles {
                display: block;
                width: 350px;
                height: 370px;
                border-radius: 50%;
                position: absolute;
                top: 68px;
                left: -5px;
            }
            canvas {
                border-radius: 50%;
            }
            .block_noir {
                display: flex;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.5);
                transform: skewX(-20deg);
                margin-left: 55%;

            }
            .content {
                z-index: 1;
                margin-left: 50px;
                display: flex;
                justify-content: center;
                flex-flow: column wrap;
                .title {
                    position: static;
                    top: 0;
                    left: 0;
                    transform: skewX(20deg);
                }
                h1.name {
                    color: #1d314a;
                    font-weight: bold;
                    text-align: left;
                    font-size: 48px;
                }
                h2.role {
                    margin-left: -20px;
                    color: #1d314a;
                    text-align: left;
                    font-size: 36px;
                    letter-spacing: 2px;
                }
                hr {
                    display: block;
                    width: 50px;
                    margin: 50px 0;
                }
                p {
                    display: block;
                    font-weight: bold;
                    color: #1d314a;
                    font-family: $font-poiretone;
                    letter-spacing: 2px;
                    width: 400px;
                    text-align: justify;
                    line-height: 20px;
                }
            }
        }
        section.about {
            display: flex;
            align-items: center;
            justify-content: center;
            .content {
                display: flex;
                align-items: center;
                justify-content: center;
                .text {
                    width: 50%;
                    position: relative;
                    z-index: 100;
                    h3 {
                        text-align: left;
                        color: #cc3554;
                        position: absolute;
                        left: -150px;
                        top: 30px;
                        font-family: $font-montserrat;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 40px;
                        margin-bottom: 50px;
                        background-color: #fefefe;
                        padding: 10px 20px;
                        line-height: 45px;
                    }
                    p {
                        padding-top: 200px;
                        width: 500px;
                        font-family: $font-poiretone;
                        letter-spacing: 2px;
                        position: relative;
                        left: -80px;
                        text-align: justify;
                        line-height: 20px;
                        margin-bottom: 30px;
                    }
                }
                a {
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    font-weight: bold;
                    border: 2px solid black;
                    padding: 15px 40px;
                    color: black;
                    text-decoration: none;
                    margin-left: 50px;
                    transition: all 0.5s ease;

                }
                a:hover {
                    border-color: #cc3554;
                    background-color: #cc3554;
                    color: #fefefe;
                }
            }
        }
    }
}
