

@media screen and (min-width:768px) {

}

@media screen and (min-width:992px) {
    nav {
        height: 100%;
        z-index: 100000;
        position: fixed;
        right: 30px;
        display: flex;
        align-items: center;
        ul {
            li {
                margin-top: 120%;
                a {
                    text-decoration: none;
                }
                .losange:hover {
                    background-color: #851e31;
                    -moz-transform: rotate(90deg);
                    -webkit-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
                .losange {
                    height: 50px;
                    width: 50px;
                    background-color: #a28287;
                    -ms-transform: rotate(45deg); /* Internet Explorer */
                    -moz-transform: rotate(45deg); /* Firefox */
                    -webkit-transform: rotate(45deg); /* Safari et Chrome */
                    -moz-transition: -moz-transform ease 0.6s;
                    -webkit-transition: -webkit-transform ease 0.6s;
                    -ms-transition: -ms-transform ease 0.6s;
                    transition: transform ease 0.6s;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .fa {
                        font-size: 20px;
                        color: #fefefe;
                        -ms-transform: rotate(-45deg); /* Internet Explorer */
                        -moz-transform: rotate(-45deg); /* Firefox */
                        -webkit-transform: rotate(-45deg); /* Safari et Chrome */
                    }
                }
            }
            li:first-child {
                margin-top: 0;
            }
        }
    }
}
