
main#projects {
    min-height: 100%;
    width: 100%;
    section.projects_page {
        min-height: 100%;
        width: 100%;
        .container {
            width: 100%;
            min-height: 100%;
            padding: 20px;
            .top {
                width: 100%;
                height: 100px;
                background-color: #1d314a;
                margin-bottom: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                h1 {
                    font-weight: bold;
                    font-family: $font-montserrat;
                    text-transform: uppercase;
                    font-size: 30px;
                    color: #fefefe;
                }
                img {
                    display: none;
                }
            }
            img {
                margin-bottom: -10px;
            }
            a {
                text-decoration: none;
            }
            a:last-child {
                figure {
                    margin-bottom: 100px;
                }
            }
            figure.snip1084 {
              font-family: 'Raleway';
              color: #fff;
              position: relative;
              float: left;
              overflow: hidden;
              width: 100%;
              text-align: center;
              margin: 10px 0;
            }
            figure.snip1084 * {
              -webkit-box-sizing: padding-box;
              box-sizing: padding-box;
              -webkit-transition: all 0.3s ease-out;
              transition: all 0.3s ease-out;
            }

            figure.snip1084 img {
              opacity: 1;
              width: 100%;
            }

            figure.snip1084 figcaption {
                top: 50%;
                left: 40px;
                right: 40px;
                position: absolute;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }

            figure.snip1084 figcaption span {
                font-weight: bold;
                text-transform: uppercase;
                font-family: $font-montserrat;
                line-height: 15px;
            }

            figure.snip1084 figcaption p {
                font-family: $font-poiretone;
                letter-spacing: 1px;
                line-height: 15px;
                font-size: 0.9em;
                font-weight: 500;
                opacity: 0;
                margin: 0;
            }

            figure.snip1084:before,
            figure.snip1084:after {
                position: absolute;
                top: 20px;
                right: 20px;
                bottom: 20px;
                left: 20px;
                content: '';
                opacity: 0;
                -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
                transition: opacity 0.6s, -webkit-transform 0.6s, -moz-transform 0.6s, -o-transform 0.6s, transform 0.6s;
            }

            figure.snip1084:before {
                border-top: 1px double #fff;
                border-bottom: 1px double #fff;
                -webkit-transform: scale(0, 1);
                transform: scale(0, 1);
            }

            figure.snip1084:after {
              border-right: 1px double #fff;
              border-left: 1px double #fff;
              -webkit-transform: scale(1, 0);
              transform: scale(1, 0);
            }

            figure.snip1084.dark {
              background: #851e31;
            }

            figure.snip1084:hover img,
            figure.snip1084.hover img {
              opacity: 0.2;
              -webkit-filter: blur(5px);
              filter: blur(5px);
              -webkit-transform: scale(1.1);
              transform: scale(1.1);
            }

            figure.snip1084:hover figcaption h2,
            figure.snip1084.hover figcaption h2,
            figure.snip1084:hover figcaption p,
            figure.snip1084.hover figcaption p {
              opacity: 1;
              border-color: rgba(255, 255, 255, 0.5);
              -webkit-transition-delay: 0.2s;
              transition-delay: 0.2s;
              -webkit-transform: translateY(0);
              transform: translateY(0);
            }

            figure.snip1084:hover figcaption p,
            figure.snip1084.hover figcaption p {
              -webkit-transition-delay: 0.3s;
              transition-delay: 0.3s;
            }

            figure.snip1084:hover:before,
            figure.snip1084.hover:before,
            figure.snip1084:hover:after,
            figure.snip1084.hover:after {
              opacity: 0.8;
              -webkit-transform: scale(1);
              transform: scale(1);
            }
        }
    }
}
@media screen and (min-width:500px) {
    main#projects {
        section.projects_page {
            .container {
                padding: 20px 100px;
            }
        }
    }
}
@media screen and (min-width:768px) {
    main#projects {
        section.projects_page {
            .container {
                padding: 20px;
                padding-right: 100px;
                .top {
                    background: none;
                    justify-content: none;
                    align-items: none;
                    h1 {
                        display: none;
                    }
                    img {
                        display: block;
                        margin-top: 30px;
                        width: 600px;
                    }
                }
                a:last-child {
                    figure {
                        margin-bottom: 30px;
                    }
                }
                figure.snip1084 {
                    width: 47%;
                    margin: 20px 1%;
                }
                figure.snip1084 figcaption span {
                    font-size: 1.3em;
                }
                figure.snip1084 figcaption p {
                    font-size: 1.1em;
                }
            }
        }
    }
}
@media screen and (min-width:1050px) {
    main#projects {
        section.projects_page {
            .container {
                padding-right: 100px;
                figure.snip1084 {
                    width: 30%;
                }
                figure.snip1084 figcaption span {
                    font-size: 1.2em;
                }
                figure.snip1084 figcaption p {
                    font-size: 1em;
                }
            }
        }
    }
}
