main#skills {
    height: 100%;
    width: 100%;
    section.skills_page {
        width: 100%;
        height: 100%;
        background-image: url(../img/background-skills.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        .container {
            width: 100%;
            height: 100%;
            .column {
                width: 100%;
            }
            .column-1 {
                padding: 0 40px;
                padding-top: 50px;
                margin-bottom: 50px;
                transition: all 0.50s ease;
                i {
                    font-size: 30px;
                    margin-bottom: 10px;
                    color: #cc3554;
                    transition: all 0.50s ease;
                }
                h1 {
                    font-family: $font-montserrat;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 25px;
                    transition: all 0.50s ease;
                    color: #f3f3f3;
                }
                .line {
                    width: 50px;
                    height: 5px;
                    background-color: #cc3554;
                    margin-top: 15px;
                    margin-bottom: 40px;
                }
                p {
                    font-family: $font-poiretone;
                    letter-spacing: 1px;
                    line-height: 20px;
                    text-align: justify;
                    transition: all 0.50s ease;
                    color: #f3f3f3;
                }
            }
            .column-2 {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 20px;
                padding-top: 50px;
                padding-bottom: 80px;
                transition: all 0.50s ease;
                background-color: white;
            }
            .charts{
                width: 100%;
                height:100%;
                transition: all 0.50s ease;
            }
        }
    }
}
@media screen and (min-width:500px) {
    main#skills {
        section.skills_page {
            .container {
                .column-2 {
                    .charts {
                        width: 400px;
                        height: 400px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:768px) {
    main#skills {
        section.skills_page {
            .container {
                .column {
                    height: 100%;
                }
                .column-1 {
                    padding: 0 40px;
                    display: flex;
                    align-items: center;
                    float: left;
                    width: 40%;
                    margin-bottom: 0;
                    i {
                        font-size: 40px;
                    }
                    h1 {
                        font-size: 30px;
                    }
                }
                .column-2 {
                    float: left;
                    width: 60%;
                    padding-bottom: 0;
                    padding-right: 100px;
                }
                .charts {
                    width: 350px;
                    height: 350px;
                }
            }
        }
    }

}

@media screen and (min-width:992px) {
    main#skills {
        section.skills_page {
            .container {
                .column-1 {
                    width: 50%;
                    i {
                        font-size: 60px;
                    }
                    h1 {
                        font-size: 40px;
                    }
                }
                .column-2 {
                    width: 50%;
                    .charts {
                        width: 400px;
                        height: 400px;
                    }
                }
            }
        }
    }
}
