/* line 1, ../scss/_default.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../scss/_default.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 9, ../scss/_default.scss */
body {
  width: 100%;
  height: 100%;
  font-family: "Trebuchet MS";
  overflow-x: hidden;
}

/* line 1, ../scss/_navigation.scss */
nav {
  width: 100%;
  z-index: 10000;
  position: fixed;
  bottom: 20px;
}
/* line 6, ../scss/_navigation.scss */
nav ul {
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* line 11, ../scss/_navigation.scss */
nav ul li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}
/* line 16, ../scss/_navigation.scss */
nav ul li span {
  display: none;
  width: 80px;
  position: absolute;
  top: -33px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Poiret One";
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
/* line 29, ../scss/_navigation.scss */
nav ul li a {
  text-decoration: none;
}
/* line 32, ../scss/_navigation.scss */
nav ul li .losange {
  height: 40px;
  width: 40px;
  background-color: #1d314a;
  -ms-transform: rotate(45deg);
  /* Internet Explorer */
  -moz-transform: rotate(45deg);
  /* Firefox */
  -webkit-transform: rotate(45deg);
  /* Safari et Chrome */
  -moz-transition: -moz-transform ease 0.6s;
  -webkit-transition: -webkit-transform ease 0.6s;
  -ms-transition: -ms-transform ease 0.6s;
  transition: transform ease 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 47, ../scss/_navigation.scss */
nav ul li .fa {
  font-size: 18px;
  color: #fefefe;
  -ms-transform: rotate(-45deg);
  /* Internet Explorer */
  -moz-transform: rotate(-45deg);
  /* Firefox */
  -webkit-transform: rotate(-45deg);
  /* Safari et Chrome */
}
/* line 54, ../scss/_navigation.scss */
nav ul li .losange:hover {
  background-color: #385273;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 60, ../scss/_navigation.scss */
nav ul li .losange:hover .fa {
  -ms-transform: rotate(405deg);
  /* Internet Explorer */
  -moz-transform: rotate(405deg);
  /* Firefox */
  -webkit-transform: rotate(405deg);
  /* Safari et Chrome */
}
/* line 67, ../scss/_navigation.scss */
nav ul li:nth-of-type(5) {
  margin-right: 0;
}
/* line 70, ../scss/_navigation.scss */
nav ul li:last-child {
  flex: none;
}

@media screen and (min-width: 500px) {
  /* line 78, ../scss/_navigation.scss */
  nav ul {
    padding: 0 100px;
  }
}
@media screen and (min-width: 768px) {
  /* line 84, ../scss/_navigation.scss */
  nav {
    width: auto;
    height: 100%;
    margin-right: 30px;
    z-index: 100000;
    display: flex;
    align-items: center;
    right: 0;
  }
  /* line 92, ../scss/_navigation.scss */
  nav ul {
    padding: 0;
    display: block;
    margin: 0;
  }
  /* line 96, ../scss/_navigation.scss */
  nav ul li {
    flex-grow: none;
    display: block;
    margin-top: 120%;
    text-align: -webkit-center;
  }
  /* line 101, ../scss/_navigation.scss */
  nav ul li span {
    font-size: 14px;
  }
  /* line 104, ../scss/_navigation.scss */
  nav ul li .losange {
    height: 50px;
    width: 50px;
  }
  /* line 108, ../scss/_navigation.scss */
  nav ul li .fa {
    font-size: 20px;
  }
  /* line 111, ../scss/_navigation.scss */
  nav ul li .losange:hover {
    background-color: #385273;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  /* line 117, ../scss/_navigation.scss */
  nav ul li .losange:hover .fa {
    -ms-transform: rotate(405deg);
    /* Internet Explorer */
    -moz-transform: rotate(405deg);
    /* Firefox */
    -webkit-transform: rotate(405deg);
    /* Safari et Chrome */
  }
  /* line 124, ../scss/_navigation.scss */
  nav ul li:nth-of-type(5) {
    margin-bottom: 0;
  }
}
/* line 1, ../scss/_home.scss */
main#home {
  height: 100%;
  width: 100%;
}
/* line 4, ../scss/_home.scss */
main#home section.landing {
  width: 100%;
  height: 100%;
  background-image: url(../img/mobile-first.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}
/* line 12, ../scss/_home.scss */
main#home section.landing .particles, main#home section.landing hr, main#home section.landing p {
  display: none;
}
/* line 15, ../scss/_home.scss */
main#home section.landing .triangles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 21, ../scss/_home.scss */
main#home section.landing .triangles img {
  width: 150px;
}
/* line 24, ../scss/_home.scss */
main#home section.landing .triangles img:first-child {
  opacity: 0.5;
  position: relative;
  top: 60px;
}
/* line 29, ../scss/_home.scss */
main#home section.landing .triangles img:last-child {
  transform: rotate(180deg);
  position: relative;
  top: -60px;
}
/* line 34, ../scss/_home.scss */
main#home section.landing .title {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 40, ../scss/_home.scss */
main#home section.landing .title h1.name {
  color: black;
  text-align: center;
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
}
/* line 48, ../scss/_home.scss */
main#home section.landing .title h2.role {
  text-align: center;
  font-family: "Poiret One";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 28px;
}
/* line 57, ../scss/_home.scss */
main#home section.about {
  width: 100%;
  min-height: 100%;
  text-align: center;
  padding-bottom: 50px;
}
/* line 62, ../scss/_home.scss */
main#home section.about .container {
  width: 100%;
  min-height: 100%;
}
/* line 66, ../scss/_home.scss */
main#home section.about img {
  margin-top: 20px;
  width: 90%;
}
/* line 71, ../scss/_home.scss */
main#home section.about .text h3 {
  color: #cc3554;
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 30px;
  margin-top: 20px;
  background-color: #fefefe;
  line-height: 25px;
}
/* line 82, ../scss/_home.scss */
main#home section.about .text p {
  font-family: "Poiret One";
  line-height: 20px;
  margin: 0;
  text-align: justify;
  padding: 0 30px;
  margin-bottom: 40px;
}
/* line 90, ../scss/_home.scss */
main#home section.about .text a {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  border: 2px solid black;
  padding: 15px 40px;
  color: black;
  text-decoration: none;
  transition: all 0.5s ease;
  margin-bottom: 10px;
}
/* line 102, ../scss/_home.scss */
main#home section.about .text a:hover {
  border-color: #cc3554;
  background-color: #cc3554;
  color: #fefefe;
}
/* line 109, ../scss/_home.scss */
main#home section.projects {
  width: 100%;
  min-height: 100%;
  padding-bottom: 50px;
  background-image: url(../img/papier1.png);
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}
/* line 117, ../scss/_home.scss */
main#home section.projects .container {
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 121, ../scss/_home.scss */
main#home section.projects .container .top {
  padding-bottom: 50px;
  display: -webkit-inline-box;
}
/* line 124, ../scss/_home.scss */
main#home section.projects .container .top a {
  text-decoration: none;
}
/* line 128, ../scss/_home.scss */
main#home section.projects .container h3 {
  margin-top: -7px;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: white;
  transition: all 0.3s ease;
}
/* line 138, ../scss/_home.scss */
main#home section.projects .container .content {
  padding: 0 20px;
  width: 100%;
  height: auto;
  text-align: center;
}
/* line 143, ../scss/_home.scss */
main#home section.projects .container .content .important-project {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  transition: all 0.75s ease;
}
/* line 151, ../scss/_home.scss */
main#home section.projects .container .content .important-project a:hover .hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
/* line 160, ../scss/_home.scss */
main#home section.projects .container .content .important-project a:hover .hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #46897e;
  height: 5px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 176, ../scss/_home.scss */
main#home section.projects .container .content .important-project a:hover .hvr-underline-from-center:hover:before, main#home section.projects .container .content .important-project a:hover .hvr-underline-from-center:focus:before, main#home section.projects .container .content .important-project a:hover .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
/* line 182, ../scss/_home.scss */
main#home section.projects .container .content .important-project .presentation {
  width: 50%;
  float: left;
  transition: all 0.75s ease;
  color: black;
}
/* line 187, ../scss/_home.scss */
main#home section.projects .container .content .important-project .presentation h4 {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  transition: all 0.75s ease;
  margin-bottom: 10px;
  color: #46897e;
}
/* line 196, ../scss/_home.scss */
main#home section.projects .container .content .important-project .presentation p {
  font-family: "Poiret One";
  font-size: 13px;
  transition: all 0.3s ease;
  padding-bottom: 20px;
}
/* line 203, ../scss/_home.scss */
main#home section.projects .container .content .important-project img {
  width: 50%;
  float: left;
  transition: all 0.75s ease;
  margin-bottom: 50px;
}
/* line 213, ../scss/_home.scss */
main#home section.projects .container .content .important-project:nth-of-type(2) a:hover .hvr-underline-from-center:before {
  background: #8aa8bc;
}
/* line 218, ../scss/_home.scss */
main#home section.projects .container .content .important-project:nth-of-type(2) h4 {
  color: #8aa8bc;
}
/* line 221, ../scss/_home.scss */
main#home section.projects .container .content .important-project:nth-of-type(2) img {
  margin-bottom: 0;
  margin-top: 30px;
}
/* line 226, ../scss/_home.scss */
main#home section.projects .container .content .important-project:nth-of-type(3) {
  margin-bottom: 30px;
}
/* line 228, ../scss/_home.scss */
main#home section.projects .container .content .important-project:nth-of-type(3) a:hover .hvr-underline-from-center:before {
  background: #3d3c5d;
}
/* line 233, ../scss/_home.scss */
main#home section.projects .container .content .important-project:nth-of-type(3) h4 {
  color: #3d3c5d;
}
/* line 239, ../scss/_home.scss */
main#home section.projects .container .content .important-project:hover img {
  -ms-transform: rotate(180deg);
  /* Internet Explorer */
  -moz-transform: rotate(180deg);
  /* Firefox */
  -webkit-transform: rotate(180deg);
  /* Safari et Chrome */
  -moz-transition: -moz-transform ease 0.6s;
  -webkit-transition: -webkit-transform ease 0.6s;
  -ms-transition: -ms-transform ease 0.6s;
  transition: transform ease-in 0.6s;
}
/* line 252, ../scss/_home.scss */
main#home section.contact {
  width: 100%;
  height: 50%;
  padding: 40px 80px;
}
/* line 256, ../scss/_home.scss */
main#home section.contact .container {
  text-align: center;
  padding-bottom: 80px;
}
/* line 259, ../scss/_home.scss */
main#home section.contact .container h3 {
  font-family: "Montserrat";
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 40px;
  color: #633c41;
  transition: all 0.75s ease;
}
/* line 267, ../scss/_home.scss */
main#home section.contact .container h3 small {
  font-family: "Poiret One";
  font-size: 15px;
  letter-spacing: 3px;
  transition: all 0.75s ease;
}
/* line 274, ../scss/_home.scss */
main#home section.contact .container ul {
  margin-top: 60px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  transition: all 0.75s ease;
}
/* line 281, ../scss/_home.scss */
main#home section.contact .container ul li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  transition: all 0.75s ease;
}
/* line 288, ../scss/_home.scss */
main#home section.contact .container a.contact-link {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  border: 2px solid black;
  padding: 15px 40px;
  color: black;
  text-decoration: none;
  transition: all 0.5s ease;
}
/* line 299, ../scss/_home.scss */
main#home section.contact .container a.contact-link:hover {
  border-color: #a28287;
  background-color: #a28287;
  color: #fefefe;
}
/* line 304, ../scss/_home.scss */
main#home section.contact .container .fa {
  font-size: 30px;
  color: #633c41;
  transition: all 0.5s ease;
}
/* line 309, ../scss/_home.scss */
main#home section.contact .container .fa:hover {
  color: #a28287;
}

@media screen and (min-width: 500px) {
  /* line 317, ../scss/_home.scss */
  main#home section.about {
    padding-bottom: 80px;
  }
  /* line 320, ../scss/_home.scss */
  main#home section.about .text h3 {
    font-size: 30px;
    line-height: 28px;
  }
  /* line 328, ../scss/_home.scss */
  main#home section.projects .container h3 {
    font-size: 30px;
  }
  /* line 333, ../scss/_home.scss */
  main#home section.projects .container .content .important-project .presentation {
    width: 60%;
  }
  /* line 335, ../scss/_home.scss */
  main#home section.projects .container .content .important-project .presentation h4 {
    font-size: 22px;
  }
  /* line 338, ../scss/_home.scss */
  main#home section.projects .container .content .important-project .presentation p {
    font-size: 18px;
  }
  /* line 342, ../scss/_home.scss */
  main#home section.projects .container .content .important-project img {
    width: 40%;
  }
  /* line 351, ../scss/_home.scss */
  main#home section.contact .container h3 {
    font-size: 30px;
  }
  /* line 353, ../scss/_home.scss */
  main#home section.contact .container h3 small {
    font-size: 20px;
  }
  /* line 357, ../scss/_home.scss */
  main#home section.contact .container .fa {
    font-size: 40px;
  }
}
@media screen and (min-width: 600px) {
  /* line 368, ../scss/_home.scss */
  main#home section.landing .triangles {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  /* line 377, ../scss/_home.scss */
  main#home section.landing {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* line 381, ../scss/_home.scss */
  main#home section.landing .container {
    height: 100%;
  }
  /* line 384, ../scss/_home.scss */
  main#home section.landing .block_noir {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transform: skewX(-20deg);
    transition: all 0.5s ease;
  }
  /* line 392, ../scss/_home.scss */
  main#home section.landing .content {
    z-index: 1;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
  }
  /* line 398, ../scss/_home.scss */
  main#home section.landing .content .title {
    position: static;
    top: 0;
    left: 0;
    transform: skewX(20deg);
  }
  /* line 404, ../scss/_home.scss */
  main#home section.landing .content h1.name {
    color: #1d314a;
    font-weight: bold;
    text-align: left;
    font-size: 50px;
  }
  /* line 410, ../scss/_home.scss */
  main#home section.landing .content h2.role {
    margin-left: -20px;
    color: #1d314a;
    text-align: left;
    font-size: 35px;
    letter-spacing: 2px;
  }
  /* line 417, ../scss/_home.scss */
  main#home section.landing .content hr {
    display: block;
    width: 50px;
    margin: 50px 0;
  }
  /* line 422, ../scss/_home.scss */
  main#home section.landing .content p {
    display: block;
    font-weight: bold;
    color: #1d314a;
    font-family: "Poiret One";
    letter-spacing: 2px;
    width: 350px;
    text-align: justify;
    line-height: 20px;
  }
  /* line 434, ../scss/_home.scss */
  main#home section.about {
    padding-bottom: 50px;
  }
  /* line 436, ../scss/_home.scss */
  main#home section.about .container {
    padding-right: 80px;
  }
  /* line 438, ../scss/_home.scss */
  main#home section.about .container img {
    width: 60%;
  }
  /* line 443, ../scss/_home.scss */
  main#home section.projects {
    display: flex;
    align-items: center;
    padding: 0;
  }
  /* line 447, ../scss/_home.scss */
  main#home section.projects .container {
    padding-right: 80px;
  }
  /* line 449, ../scss/_home.scss */
  main#home section.projects .container h3 {
    font-size: 30px;
    text-align: center;
  }
  /* line 453, ../scss/_home.scss */
  main#home section.projects .container .content {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 80px;
  }
  /* line 459, ../scss/_home.scss */
  main#home section.projects .container .content .important-project {
    text-align: center;
    flex-flow: column wrap;
    margin-bottom: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  /* line 466, ../scss/_home.scss */
  main#home section.projects .container .content .important-project .presentation {
    margin: 20px 0;
    width: 90%;
  }
  /* line 469, ../scss/_home.scss */
  main#home section.projects .container .content .important-project .presentation p {
    text-align: justify;
  }
  /* line 473, ../scss/_home.scss */
  main#home section.projects .container .content .important-project img {
    width: 80%;
  }
  /* line 477, ../scss/_home.scss */
  main#home section.projects .container .content .important-project:nth-of-type(3) {
    margin-bottom: 0;
  }
  /* line 483, ../scss/_home.scss */
  main#home section.contact {
    height: 42%;
  }
  /* line 485, ../scss/_home.scss */
  main#home section.contact .container {
    padding-bottom: 0;
    padding-right: 80px;
  }
  /* line 488, ../scss/_home.scss */
  main#home section.contact .container h3 {
    font-size: 30px;
  }
  /* line 490, ../scss/_home.scss */
  main#home section.contact .container h3 small {
    font-size: 20px;
  }
  /* line 494, ../scss/_home.scss */
  main#home section.contact .container .fa {
    font-size: 38px;
  }
  /* line 497, ../scss/_home.scss */
  main#home section.contact .container hr {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  /* line 506, ../scss/_home.scss */
  main#home {
    max-width: 1300px;
  }
  /* line 508, ../scss/_home.scss */
  main#home section.landing {
    background-image: url(../img/trytrait.jpg);
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
  }
  /* line 516, ../scss/_home.scss */
  main#home section.landing .container {
    width: 100%;
    height: 100%;
  }
  /* line 520, ../scss/_home.scss */
  main#home section.landing .particles {
    display: block;
    width: 360px;
    height: 370px;
    border-radius: 50%;
    position: absolute;
    top: 68px;
    left: -140px;
  }
  /* line 529, ../scss/_home.scss */
  main#home section.landing canvas {
    border-radius: 50%;
  }
  /* line 532, ../scss/_home.scss */
  main#home section.landing .block_noir {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transform: skewX(-20deg);
    margin-left: 46%;
    transition: all 0.5s ease;
  }
  /* line 541, ../scss/_home.scss */
  main#home section.landing .content {
    z-index: 1;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
  }
  /* line 547, ../scss/_home.scss */
  main#home section.landing .content .title {
    position: static;
    top: 0;
    left: 0;
    transform: skewX(20deg);
  }
  /* line 553, ../scss/_home.scss */
  main#home section.landing .content h1.name {
    color: #1d314a;
    font-weight: bold;
    text-align: left;
    font-size: 48px;
  }
  /* line 559, ../scss/_home.scss */
  main#home section.landing .content h2.role {
    margin-left: -20px;
    color: #1d314a;
    text-align: left;
    font-size: 36px;
    letter-spacing: 2px;
  }
  /* line 566, ../scss/_home.scss */
  main#home section.landing .content hr {
    display: block;
    width: 50px;
    margin: 50px 0;
  }
  /* line 571, ../scss/_home.scss */
  main#home section.landing .content p {
    display: block;
    font-weight: bold;
    color: #1d314a;
    font-family: "Poiret One";
    letter-spacing: 2px;
    width: 400px;
    text-align: justify;
    line-height: 20px;
  }
  /* line 583, ../scss/_home.scss */
  main#home section.about {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* line 587, ../scss/_home.scss */
  main#home section.about .container {
    padding-right: 0;
  }
  /* line 590, ../scss/_home.scss */
  main#home section.about .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* line 595, ../scss/_home.scss */
  main#home section.about .content .text {
    width: 50%;
    position: relative;
    z-index: 100;
  }
  /* line 599, ../scss/_home.scss */
  main#home section.about .content .text h3 {
    text-align: left;
    color: #cc3554;
    position: absolute;
    left: -150px;
    top: 30px;
    font-family: "Montserrat";
    font-weight: bold;
    text-transform: uppercase;
    font-size: 34px;
    margin-bottom: 50px;
    background-color: #fefefe;
    padding: 10px 20px;
    line-height: 45px;
    transition: all 0.5s ease;
  }
  /* line 615, ../scss/_home.scss */
  main#home section.about .content .text p {
    padding-top: 200px;
    width: 350px;
    font-family: "Poiret One";
    letter-spacing: 2px;
    position: relative;
    left: -50px;
    text-align: justify;
    line-height: 20px;
    margin-bottom: 50px;
    transition: all 0.5s ease;
  }
  /* line 628, ../scss/_home.scss */
  main#home section.about .content a {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    border: 2px solid black;
    padding: 15px 40px;
    color: black;
    text-decoration: none;
    margin-right: 0;
    transition: all 0.5s ease;
  }
  /* line 640, ../scss/_home.scss */
  main#home section.about .content a:hover {
    border-color: #cc3554;
    background-color: #cc3554;
    color: #fefefe;
  }
  /* line 649, ../scss/_home.scss */
  main#home section.projects .container .important-project {
    margin: 20px 40px;
  }
  /* line 651, ../scss/_home.scss */
  main#home section.projects .container .important-project img {
    width: 20%;
  }
  /* line 657, ../scss/_home.scss */
  main#home section.contact {
    height: 33%;
  }
  /* line 659, ../scss/_home.scss */
  main#home section.contact .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
  }
  /* line 664, ../scss/_home.scss */
  main#home section.contact .container .text {
    width: 60%;
    float: left;
    text-align: center;
  }
  /* line 669, ../scss/_home.scss */
  main#home section.contact .container .text h3 small {
    font-size: 16px;
  }
  /* line 675, ../scss/_home.scss */
  main#home section.contact .social-network {
    width: 40%;
    float: left;
  }
  /* line 678, ../scss/_home.scss */
  main#home section.contact .social-network ul {
    padding: 0 30px;
    margin: 0;
  }
}
@media screen and (min-width: 1050px) {
  /* line 690, ../scss/_home.scss */
  main#home section.landing .block_noir {
    margin-left: 48%;
  }
  /* line 693, ../scss/_home.scss */
  main#home section.landing .particles {
    left: -120px;
  }
}
@media screen and (min-width: 1100px) {
  /* line 702, ../scss/_home.scss */
  main#home section.landing .particles {
    left: -90px;
  }
  /* line 709, ../scss/_home.scss */
  main#home section.about .content .text h3 {
    left: -150px;
    top: 30px;
    font-size: 38px;
    margin-bottom: 50px;
  }
  /* line 715, ../scss/_home.scss */
  main#home section.about .content .text p {
    width: 400px;
    left: -80px;
    margin-bottom: 30px;
  }
  /* line 721, ../scss/_home.scss */
  main#home section.about .content a {
    margin-left: -80px;
  }
}
@media screen and (min-width: 1150px) {
  /* line 731, ../scss/_home.scss */
  main#home section.landing .block_noir {
    margin-left: 51%;
  }
  /* line 734, ../scss/_home.scss */
  main#home section.landing .particles {
    left: -60px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 743, ../scss/_home.scss */
  main#home section.landing .particles {
    left: -30px;
  }
  /* line 750, ../scss/_home.scss */
  main#home section.about .content .text h3 {
    font-size: 40px;
  }
  /* line 753, ../scss/_home.scss */
  main#home section.about .content .text p {
    width: 500px;
  }
  /* line 757, ../scss/_home.scss */
  main#home section.about .content a {
    margin-left: 50px;
  }
}
@media screen and (min-width: 1250px) {
  /* line 767, ../scss/_home.scss */
  main#home section.landing .block_noir {
    margin-left: 53%;
  }
  /* line 770, ../scss/_home.scss */
  main#home section.landing .particles {
    left: -5px;
  }
}
/* line 1, ../scss/_about.scss */
main#about {
  height: 100%;
  width: 100%;
}
/* line 4, ../scss/_about.scss */
main#about section.about_page {
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
}
/* line 8, ../scss/_about.scss */
main#about section.about_page .band_picture {
  width: 100%;
  height: 150px;
  background-image: url(../img/photographe_backandwhite.jpg);
}
/* line 13, ../scss/_about.scss */
main#about section.about_page .geometry {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 45px;
  left: 50%;
}
/* line 20, ../scss/_about.scss */
main#about section.about_page .big-square {
  width: 120px;
  height: 120px;
  border: 1px solid black;
}
/* line 25, ../scss/_about.scss */
main#about section.about_page .medium-square {
  width: 40px;
  height: 40px;
  background-color: black;
  position: relative;
  left: 65px;
  bottom: 30px;
}
/* line 33, ../scss/_about.scss */
main#about section.about_page .little-square {
  width: 8px;
  height: 8px;
  background-color: #cc3554;
  position: relative;
  left: 120px;
  bottom: 30px;
}
/* line 41, ../scss/_about.scss */
main#about section.about_page h1 {
  color: #fefefe;
  width: 250px;
  text-align: right;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 25px;
  line-height: 25px;
  position: relative;
  float: left;
  top: 20px;
  left: -180px;
}
/* line 55, ../scss/_about.scss */
main#about section.about_page .container .content {
  text-align: center;
  padding: 0 20px;
}
/* line 58, ../scss/_about.scss */
main#about section.about_page .container .content .column-1 {
  height: auto;
  width: 100%;
  padding: 40px 0;
  transition: all 0.5s ease;
}
/* line 63, ../scss/_about.scss */
main#about section.about_page .container .content .column-1 h2 {
  text-align: left;
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.5s ease;
  padding-bottom: 5px;
}
/* line 72, ../scss/_about.scss */
main#about section.about_page .container .content .column-1 hr {
  position: absolute;
  left: 20px;
  width: 80px;
  border: 2px solid #cc3554;
}
/* line 78, ../scss/_about.scss */
main#about section.about_page .container .content .column-1 p {
  margin-top: 40px;
  text-align: justify;
  font-family: "Poiret One";
  font-weight: bold;
  font-style: italic;
  letter-spacing: 2px;
  font-size: 13px;
  line-height: 20px;
}
/* line 89, ../scss/_about.scss */
main#about section.about_page .container .content .column-2 {
  width: 100%;
  height: auto;
  padding: 10px 0;
  text-align: justify;
  font-family: "Poiret One";
  font-size: 16px;
  transition: all 0.5s ease;
}
/* line 97, ../scss/_about.scss */
main#about section.about_page .container .content .column-2 p {
  line-height: 20px;
  margin-bottom: 20px;
}
/* line 102, ../scss/_about.scss */
main#about section.about_page .container .content a {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #fefefe;
  font-family: "Poiret One";
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
}
/* line 112, ../scss/_about.scss */
main#about section.about_page .container .content a:nth-of-type(1) .cv {
  background-color: #851e31;
  height: 50px;
  margin-bottom: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: all 0.75s ease;
}
/* line 121, ../scss/_about.scss */
main#about section.about_page .container .content a:nth-of-type(1):hover .cv {
  background-color: white;
  color: #851e31;
}
/* line 125, ../scss/_about.scss */
main#about section.about_page .container .content a:nth-of-type(2) .cv {
  background-color: #cc3554;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  transition: all 0.75s ease;
}
/* line 134, ../scss/_about.scss */
main#about section.about_page .container .content a:nth-of-type(2):hover .cv {
  background-color: white;
  color: #cc3554;
}

@media screen and (min-width: 600px) {
  /* line 148, ../scss/_about.scss */
  main#about section.about_page .container .content a:nth-of-type(1) .cv {
    float: left;
    width: 46%;
    margin-right: 20px;
    margin-bottom: 80px;
  }
  /* line 154, ../scss/_about.scss */
  main#about section.about_page .container .content a:nth-of-type(2) .cv {
    float: left;
    width: 46%;
    margin-left: 20px;
  }
}
@media screen and (min-width: 768px) {
  /* line 168, ../scss/_about.scss */
  main#about section.about_page {
    margin-bottom: 100px;
  }
  /* line 170, ../scss/_about.scss */
  main#about section.about_page .container {
    padding-right: 100px;
  }
  /* line 173, ../scss/_about.scss */
  main#about section.about_page .container .content .column-1 {
    padding: 0;
    padding: 100px 20px;
    padding-bottom: 0;
    float: left;
    width: 30%;
  }
  /* line 179, ../scss/_about.scss */
  main#about section.about_page .container .content .column-1 h2 {
    font-size: 25px;
  }
  /* line 182, ../scss/_about.scss */
  main#about section.about_page .container .content .column-1 p {
    font-size: 13px;
  }
  /* line 185, ../scss/_about.scss */
  main#about section.about_page .container .content .column-1 hr {
    left: 40px;
  }
  /* line 189, ../scss/_about.scss */
  main#about section.about_page .container .content .column-2 {
    padding: 0;
    padding-top: 100px;
    padding-left: 20px;
    float: left;
    width: 70%;
  }
  /* line 196, ../scss/_about.scss */
  main#about section.about_page .container .content a:nth-of-type(1) .cv {
    margin: 0;
    float: left;
    width: 50%;
  }
  /* line 201, ../scss/_about.scss */
  main#about section.about_page .container .content a:nth-of-type(2) .cv {
    margin: 0;
    float: left;
    width: 50%;
  }
  /* line 208, ../scss/_about.scss */
  main#about section.about_page .band_picture {
    height: 250px;
  }
  /* line 211, ../scss/_about.scss */
  main#about section.about_page .geometry {
    width: 350px;
    height: 250px;
    top: 75px;
    left: 30%;
  }
  /* line 217, ../scss/_about.scss */
  main#about section.about_page .big-square {
    width: 200px;
    height: 200px;
  }
  /* line 221, ../scss/_about.scss */
  main#about section.about_page .medium-square {
    width: 80px;
    height: 80px;
    left: 100px;
    bottom: 70px;
  }
  /* line 227, ../scss/_about.scss */
  main#about section.about_page .little-square {
    width: 10px;
    height: 10px;
    left: 215px;
    bottom: 70px;
  }
  /* line 233, ../scss/_about.scss */
  main#about section.about_page h1 {
    width: 350px;
    font-size: 35px;
    line-height: 45px;
    top: 20px;
    left: -250px;
  }
}
@media screen and (min-width: 992px) {
  /* line 246, ../scss/_about.scss */
  main#about section.about_page {
    margin-bottom: 50px;
  }
  /* line 250, ../scss/_about.scss */
  main#about section.about_page .container .content .column-1 {
    width: 40%;
  }
  /* line 252, ../scss/_about.scss */
  main#about section.about_page .container .content .column-1 h2 {
    font-size: 30px;
  }
  /* line 255, ../scss/_about.scss */
  main#about section.about_page .container .content .column-1 p {
    font-size: 13px;
  }
  /* line 259, ../scss/_about.scss */
  main#about section.about_page .container .content .column-2 {
    width: 60%;
  }
}
@media screen and (max-width: 1100px) {
  /* line 271, ../scss/_about.scss */
  main#about section.about_page .band_picture {
    background-position: center;
  }
}
/* line 1, ../scss/_skills.scss */
main#skills {
  height: 100%;
  width: 100%;
}
/* line 4, ../scss/_skills.scss */
main#skills section.skills_page {
  width: 100%;
  height: 100%;
  background-image: url(../img/background-skills.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* line 12, ../scss/_skills.scss */
main#skills section.skills_page .container {
  width: 100%;
  height: 100%;
}
/* line 15, ../scss/_skills.scss */
main#skills section.skills_page .container .column {
  width: 100%;
}
/* line 18, ../scss/_skills.scss */
main#skills section.skills_page .container .column-1 {
  padding: 0 40px;
  padding-top: 50px;
  margin-bottom: 50px;
  transition: all 0.50s ease;
}
/* line 23, ../scss/_skills.scss */
main#skills section.skills_page .container .column-1 i {
  font-size: 30px;
  margin-bottom: 10px;
  color: #cc3554;
  transition: all 0.50s ease;
}
/* line 29, ../scss/_skills.scss */
main#skills section.skills_page .container .column-1 h1 {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  transition: all 0.50s ease;
  color: #f3f3f3;
}
/* line 37, ../scss/_skills.scss */
main#skills section.skills_page .container .column-1 .line {
  width: 50px;
  height: 5px;
  background-color: #cc3554;
  margin-top: 15px;
  margin-bottom: 40px;
}
/* line 44, ../scss/_skills.scss */
main#skills section.skills_page .container .column-1 p {
  font-family: "Poiret One";
  letter-spacing: 1px;
  line-height: 20px;
  text-align: justify;
  transition: all 0.50s ease;
  color: #f3f3f3;
}
/* line 53, ../scss/_skills.scss */
main#skills section.skills_page .container .column-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  padding-top: 50px;
  padding-bottom: 80px;
  transition: all 0.50s ease;
  background-color: white;
}
/* line 63, ../scss/_skills.scss */
main#skills section.skills_page .container .charts {
  width: 100%;
  height: 100%;
  transition: all 0.50s ease;
}

@media screen and (min-width: 500px) {
  /* line 76, ../scss/_skills.scss */
  main#skills section.skills_page .container .column-2 .charts {
    width: 400px;
    height: 400px;
  }
}
@media screen and (min-width: 768px) {
  /* line 90, ../scss/_skills.scss */
  main#skills section.skills_page .container .column {
    height: 100%;
  }
  /* line 93, ../scss/_skills.scss */
  main#skills section.skills_page .container .column-1 {
    padding: 0 40px;
    display: flex;
    align-items: center;
    float: left;
    width: 40%;
    margin-bottom: 0;
  }
  /* line 100, ../scss/_skills.scss */
  main#skills section.skills_page .container .column-1 i {
    font-size: 40px;
  }
  /* line 103, ../scss/_skills.scss */
  main#skills section.skills_page .container .column-1 h1 {
    font-size: 30px;
  }
  /* line 107, ../scss/_skills.scss */
  main#skills section.skills_page .container .column-2 {
    float: left;
    width: 60%;
    padding-bottom: 0;
    padding-right: 100px;
  }
  /* line 113, ../scss/_skills.scss */
  main#skills section.skills_page .container .charts {
    width: 350px;
    height: 350px;
  }
}
@media screen and (min-width: 992px) {
  /* line 127, ../scss/_skills.scss */
  main#skills section.skills_page .container .column-1 {
    width: 50%;
  }
  /* line 129, ../scss/_skills.scss */
  main#skills section.skills_page .container .column-1 i {
    font-size: 60px;
  }
  /* line 132, ../scss/_skills.scss */
  main#skills section.skills_page .container .column-1 h1 {
    font-size: 40px;
  }
  /* line 136, ../scss/_skills.scss */
  main#skills section.skills_page .container .column-2 {
    width: 50%;
  }
  /* line 138, ../scss/_skills.scss */
  main#skills section.skills_page .container .column-2 .charts {
    width: 400px;
    height: 400px;
  }
}
/* line 2, ../scss/_projects.scss */
main#projects {
  min-height: 100%;
  width: 100%;
}
/* line 5, ../scss/_projects.scss */
main#projects section.projects_page {
  min-height: 100%;
  width: 100%;
}
/* line 8, ../scss/_projects.scss */
main#projects section.projects_page .container {
  width: 100%;
  min-height: 100%;
  padding: 20px;
}
/* line 12, ../scss/_projects.scss */
main#projects section.projects_page .container .top {
  width: 100%;
  height: 100px;
  background-color: #1d314a;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 20, ../scss/_projects.scss */
main#projects section.projects_page .container .top h1 {
  font-weight: bold;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 30px;
  color: #fefefe;
}
/* line 27, ../scss/_projects.scss */
main#projects section.projects_page .container .top img {
  display: none;
}
/* line 31, ../scss/_projects.scss */
main#projects section.projects_page .container img {
  margin-bottom: -10px;
}
/* line 34, ../scss/_projects.scss */
main#projects section.projects_page .container a {
  text-decoration: none;
}
/* line 38, ../scss/_projects.scss */
main#projects section.projects_page .container a:last-child figure {
  margin-bottom: 100px;
}
/* line 42, ../scss/_projects.scss */
main#projects section.projects_page .container figure.snip1084 {
  font-family: 'Raleway';
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
/* line 52, ../scss/_projects.scss */
main#projects section.projects_page .container figure.snip1084 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 59, ../scss/_projects.scss */
main#projects section.projects_page .container figure.snip1084 img {
  opacity: 1;
  width: 100%;
}
/* line 64, ../scss/_projects.scss */
main#projects section.projects_page .container figure.snip1084 figcaption {
  top: 50%;
  left: 40px;
  right: 40px;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 73, ../scss/_projects.scss */
main#projects section.projects_page .container figure.snip1084 figcaption span {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Montserrat";
  line-height: 15px;
}
/* line 80, ../scss/_projects.scss */
main#projects section.projects_page .container figure.snip1084 figcaption p {
  font-family: "Poiret One";
  letter-spacing: 1px;
  line-height: 15px;
  font-size: 0.9em;
  font-weight: 500;
  opacity: 0;
  margin: 0;
}
/* line 90, ../scss/_projects.scss */
main#projects section.projects_page .container figure.snip1084:before,
main#projects section.projects_page .container figure.snip1084:after {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: opacity 0.6s, -webkit-transform 0.6s, -moz-transform 0.6s, -o-transform 0.6s, transform 0.6s;
}
/* line 103, ../scss/_projects.scss */
main#projects section.projects_page .container figure.snip1084:before {
  border-top: 1px double #fff;
  border-bottom: 1px double #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
/* line 110, ../scss/_projects.scss */
main#projects section.projects_page .container figure.snip1084:after {
  border-right: 1px double #fff;
  border-left: 1px double #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}
/* line 117, ../scss/_projects.scss */
main#projects section.projects_page .container figure.snip1084.dark {
  background: #851e31;
}
/* line 121, ../scss/_projects.scss */
main#projects section.projects_page .container figure.snip1084:hover img,
main#projects section.projects_page .container figure.snip1084.hover img {
  opacity: 0.2;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 130, ../scss/_projects.scss */
main#projects section.projects_page .container figure.snip1084:hover figcaption h2,
main#projects section.projects_page .container figure.snip1084.hover figcaption h2,
main#projects section.projects_page .container figure.snip1084:hover figcaption p,
main#projects section.projects_page .container figure.snip1084.hover figcaption p {
  opacity: 1;
  border-color: rgba(255, 255, 255, 0.5);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 142, ../scss/_projects.scss */
main#projects section.projects_page .container figure.snip1084:hover figcaption p,
main#projects section.projects_page .container figure.snip1084.hover figcaption p {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
/* line 148, ../scss/_projects.scss */
main#projects section.projects_page .container figure.snip1084:hover:before,
main#projects section.projects_page .container figure.snip1084.hover:before,
main#projects section.projects_page .container figure.snip1084:hover:after,
main#projects section.projects_page .container figure.snip1084.hover:after {
  opacity: 0.8;
  -webkit-transform: scale(1);
  transform: scale(1);
}

@media screen and (min-width: 500px) {
  /* line 162, ../scss/_projects.scss */
  main#projects section.projects_page .container {
    padding: 20px 100px;
  }
}
@media screen and (min-width: 768px) {
  /* line 171, ../scss/_projects.scss */
  main#projects section.projects_page .container {
    padding: 20px;
    padding-right: 100px;
  }
  /* line 174, ../scss/_projects.scss */
  main#projects section.projects_page .container .top {
    background: none;
    justify-content: none;
    align-items: none;
  }
  /* line 178, ../scss/_projects.scss */
  main#projects section.projects_page .container .top h1 {
    display: none;
  }
  /* line 181, ../scss/_projects.scss */
  main#projects section.projects_page .container .top img {
    display: block;
    margin-top: 30px;
    width: 600px;
  }
  /* line 188, ../scss/_projects.scss */
  main#projects section.projects_page .container a:last-child figure {
    margin-bottom: 30px;
  }
  /* line 192, ../scss/_projects.scss */
  main#projects section.projects_page .container figure.snip1084 {
    width: 47%;
    margin: 20px 1%;
  }
  /* line 196, ../scss/_projects.scss */
  main#projects section.projects_page .container figure.snip1084 figcaption span {
    font-size: 1.3em;
  }
  /* line 199, ../scss/_projects.scss */
  main#projects section.projects_page .container figure.snip1084 figcaption p {
    font-size: 1.1em;
  }
}
@media screen and (min-width: 1050px) {
  /* line 209, ../scss/_projects.scss */
  main#projects section.projects_page .container {
    padding-right: 100px;
  }
  /* line 211, ../scss/_projects.scss */
  main#projects section.projects_page .container figure.snip1084 {
    width: 30%;
  }
  /* line 214, ../scss/_projects.scss */
  main#projects section.projects_page .container figure.snip1084 figcaption span {
    font-size: 1.2em;
  }
  /* line 217, ../scss/_projects.scss */
  main#projects section.projects_page .container figure.snip1084 figcaption p {
    font-size: 1em;
  }
}
/* line 1, ../scss/_project.scss */
main#project {
  min-height: 100%;
  width: 100%;
}
/* line 4, ../scss/_project.scss */
main#project section.project_page {
  width: 100%;
  height: 100%;
}
/* line 7, ../scss/_project.scss */
main#project section.project_page .container {
  width: 100%;
  height: 100%;
  padding: 0 20px;
}
/* line 11, ../scss/_project.scss */
main#project section.project_page .container .column-1 {
  display: none;
}
/* line 14, ../scss/_project.scss */
main#project section.project_page .container .column-2 {
  padding-bottom: 80px;
}
/* line 17, ../scss/_project.scss */
main#project section.project_page .container .column-2 .project h1 {
  margin: 10px 0;
  margin-bottom: 30px;
  text-align: center;
  background-color: #cc3554;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Montserrat";
  letter-spacing: 2px;
  color: white;
}
/* line 29, ../scss/_project.scss */
main#project section.project_page .container .column-2 .project h2 {
  margin: 20px 0;
  font-size: 20px;
  border-left: 5px solid black;
  padding-left: 10px;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: bold;
}
/* line 38, ../scss/_project.scss */
main#project section.project_page .container .column-2 .project p {
  font-family: "Poiret One";
  line-height: 20px;
  letter-spacing: 1px;
  text-align: justify;
}
/* line 44, ../scss/_project.scss */
main#project section.project_page .container .column-2 .project ul {
  margin: 20px 0;
  text-align: center;
}
/* line 47, ../scss/_project.scss */
main#project section.project_page .container .column-2 .project ul li {
  display: inline-block;
  margin: 5px 5px;
}
/* line 50, ../scss/_project.scss */
main#project section.project_page .container .column-2 .project ul li img {
  height: 60px;
}
/* line 58, ../scss/_project.scss */
main#project section.project_page a {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  text-decoration: none;
}
/* line 65, ../scss/_project.scss */
main#project section.project_page a:nth-of-type(1) .link-project {
  border: 2px solid black;
  color: black;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: all 0.75s ease;
}
/* line 74, ../scss/_project.scss */
main#project section.project_page a:nth-of-type(1):hover .link-project {
  background-color: #851e31;
  color: white;
}

@media screen and (min-width: 500px) {
  /* line 85, ../scss/_project.scss */
  main#project section.project_page .container .column-1 {
    display: block;
    padding-top: 20px;
  }
  /* line 88, ../scss/_project.scss */
  main#project section.project_page .container .column-1 img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  /* line 101, ../scss/_project.scss */
  main#project section.project_page .container .column-1 {
    padding-right: 120px;
    padding-left: 40px;
  }
  /* line 105, ../scss/_project.scss */
  main#project section.project_page .container .column-2 {
    padding-right: 120px;
    padding-left: 40px;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 992px) {
  /* line 120, ../scss/_project.scss */
  main#project {
    height: 100%;
  }
  /* line 123, ../scss/_project.scss */
  main#project section.project_page .container {
    padding-left: 0;
  }
  /* line 125, ../scss/_project.scss */
  main#project section.project_page .container .column-1 {
    overflow: hidden;
    padding: 0;
    float: left;
    width: 45%;
  }
  /* line 134, ../scss/_project.scss */
  main#project section.project_page .container .column-2 {
    display: flex;
    align-items: center;
    float: left;
    width: 55%;
  }
}
/* line 1, ../scss/_contact.scss */
main#contact {
  height: 100%;
  width: 100%;
}
/* line 4, ../scss/_contact.scss */
main#contact section.contact_page {
  width: 100%;
  height: 100%;
}
/* line 7, ../scss/_contact.scss */
main#contact section.contact_page .column-2 {
  width: 100%;
  display: flex;
  align-items: center;
  transition: all 0.75s ease;
  padding-bottom: 80px;
}
/* line 15, ../scss/_contact.scss */
main#contact section.contact_page .contact-form h1 {
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
  color: #1d314a;
  transition: all 0.75s ease;
}
/* line 27, ../scss/_contact.scss */
main#contact section.contact_page form {
  padding: 0 30px;
  width: 100%;
}
/* line 30, ../scss/_contact.scss */
main#contact section.contact_page form input, main#contact section.contact_page form textarea {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 37, ../scss/_contact.scss */
main#contact section.contact_page form input[type="submit"] {
  margin-top: 30px;
  border: 1px solid #1d314a;
  background-color: #fefefe;
  color: black;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: bold;
  letter-spacing: 3px;
  width: 100%;
  transition: all 0.75s ease;
}
/* line 49, ../scss/_contact.scss */
main#contact section.contact_page form input[type="submit"]:hover {
  border: 1px solid #1d314a;
  background-color: #1d314a;
  color: white;
}
/* line 54, ../scss/_contact.scss */
main#contact section.contact_page form textarea {
  height: 150px;
}

@media screen and (min-width: 768px) {
  /* line 64, ../scss/_contact.scss */
  main#contact section.contact_page .column-1 {
    float: left;
    width: 40%;
    height: 100%;
    background-image: url(../img/toureiffel.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.75s ease;
  }
  /* line 74, ../scss/_contact.scss */
  main#contact section.contact_page .column-2 {
    float: left;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.75s ease;
    padding-bottom: 0;
  }
  /* line 84, ../scss/_contact.scss */
  main#contact section.contact_page .contact-form h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #1d314a;
    transition: all 0.75s ease;
    text-align: left;
  }
  /* line 92, ../scss/_contact.scss */
  main#contact section.contact_page form {
    padding: 0;
    padding-left: 30px;
  }
  /* line 95, ../scss/_contact.scss */
  main#contact section.contact_page form input, main#contact section.contact_page form textarea {
    width: 75%;
    height: 50px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  /* line 102, ../scss/_contact.scss */
  main#contact section.contact_page form input[type="submit"] {
    margin-top: 30px;
    border: 1px solid #1d314a;
    background-color: #fefefe;
    color: black;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: bold;
    letter-spacing: 3px;
    width: 30%;
    transition: all 0.75s ease;
  }
  /* line 114, ../scss/_contact.scss */
  main#contact section.contact_page form input[type="submit"]:hover {
    border: 1px solid #1d314a;
    background-color: #1d314a;
    color: white;
  }
  /* line 119, ../scss/_contact.scss */
  main#contact section.contact_page form textarea {
    height: 150px;
  }
}
@media screen and (min-width: 992px) {
  /* line 130, ../scss/_contact.scss */
  main#contact section.contact_page .column-1 {
    width: 45%;
  }
  /* line 133, ../scss/_contact.scss */
  main#contact section.contact_page .column-2 {
    width: 55%;
  }
  /* line 137, ../scss/_contact.scss */
  main#contact section.contact_page .contact-form h1 {
    font-size: 40px;
  }
}
/* line 1, ../scss/_footer.scss */
footer {
  width: 100%;
  background-color: #14121f;
  color: #fefefe;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  padding: 10px;
  display: none;
}

@media screen and (min-width: 768px) {
  /* line 13, ../scss/_footer.scss */
  footer {
    display: block;
    float: left;
  }
}
